
*{
    margin: 0;
    padding: 0;
}
body{
     background-image: url(photo_2025-07-01_16-18-12.jpg);
     background-repeat: no-repeat;
    background-size: cover;
}
li{
    padding-top: 1px;
    list-style-type: none;
    display: inline-block;
}
li a {
    text-decoration: none;
    margin-left: 100px;
    color: black;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease-out;
    font-size: 20px;
    font-weight: bold;
}
.right {
    float: right;
    margin-right: 150px;
    margin-top: -8px;
    padding: 10px;
    width: 10%;
}
.aright{
    background-color: rgb(255, 39, 255);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
}
ul{
    margin-top:10px;
    background-color: rgb(255, 255, 255);
    padding: 20px 10px;
    border-radius: 16px;
    width: 140%;
    margin-right:60px;
    margin-left: 40px;
}
li a:hover {
    background-color: rgb(72, 65, 65);
    border-radius: 15px;
    padding: 15px 20px;
    color: white;
}
 .prime{
    position: fixed;
 }
/* ============================ Home ============================= */
.dropbtn {
  font-size: 16px;
  border: none;
}
.dropdown {
    display: inline-block;    
    position: relative;
    left: 40px;
    top: 40px;
    padding: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
    background-color: rgb(141, 255, 162);
    border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}
.dropdown .dropbtn{
    padding: 35px 80px;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
    color: black;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
}
.dropdown .dropdown-content{
    position: relative;
    top: 20px;
}
.dropdown .dropdown-content a{
    padding: 20px;
    font-size: 40px;
}
.leang1:hover img {
    display: block;
    position: fixed;
    left: 700px;
    width:500px;
    height: 700px;
    top:100px;
    border-radius: 50%;
}
.leang1 img {
    display: none;
}
.dalis1:hover img{
    display: block;
    position: fixed;
    left: 700px;
    width:500px;
    height: 700px;
    top:100px;
    border-radius: 50%;
}
.dalis1 img{
    display: none;
}
.Chanvey1:hover img{
    display: block;
    position: fixed;
    left: 700px;
    width:500px;
    height: 700px;
    top:100px;
    border-radius: 50%;
}
.Chanvey1 img{
    display: none;
}
.chamnan1:hover img{
        display: block;
    position: fixed;
    left: 700px;
    width:500px;
    height: 700px;
    top:100px;
    border-radius: 50%;
    overflow:hidden ;
    background-color: white;
}
.chamnan1 img{
    display: none;
}
 /* =========================== About ============================ */
.About img{
    width: 500px;
}
.About{
    background-color: aqua;
    position: relative;
    top: 40px;
    left: 1000px;
    bottom: 50px;
    width: 500px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 5px 20px;
}
.About1{
    font-size: 20px;
    position: relative;
    top: -400px;
    left: 100px;
    color: white;
}
/* ======================= Project =============================== */
.Project div{
    display: inline-block;
    position: relative;
    top: 100px;
    left: 40px;
    right: 140px;
    margin-left: 200px;
    background-color: rgb(159, 196, 255);
    padding: 30px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 20px;
    height: 300px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}
.Project div:hover{
    transition: 0.5s;
    padding: 50px;
}
.Project h1{
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}
.Project hr{
    border-width: 2px;
    border-color: white;
}
.Project div h2{
    color: rgb(252, 247, 247);
    font-size:  25px;
    font-weight: 900;
    position: relative;
    top: 10px;
}
.Project div p{
    position: relative;
    top: 15px;
    font-size: 15px;
}
.h2prime{
    position: relative;
    top: 30px;
    left: 30px;
    font-size: 50px;    
    color: white;
}
.h2prime h5{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.h2prime p{
    position: relative;
    top: 10px;
    font-size: 15px;
    font-weight: 900;
}
.h2prime{
    position: relative;
    width: 60%;
    left: 245px;
}
/* .koko{
    width: 110%;
} */
/* ==========================Contact============================== */
.Contact{
    position: relative;
    top: 90px;
    left: 240px;
    border-radius: 10px 30px 60px 220px; 
    background-color: rgb(185, 109, 255);
    height: 400px;
    padding: 50px;
}
.Contact h1{
    padding: 50px;
    font-size:50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.Contact input{
    left: 100px;
    position: relative;
    padding: 10px;
    bottom: 20px;
    width: 300px;
}
.Contact button{
    position: relative;
    padding: 20px;
    width: 200px;
    left: 160px;
    bottom: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 20px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.Contact button:hover{
    background-color: blueviolet;
    box-shadow: 0px 0px 10px;
}
.Contact img{
    position: fixed;
    left: 800px;
    top: 200px;
    background-color: blueviolet;
    border-radius: 80%;
}
